.container {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.themesContainer {
    gap: 1rem;
    width: 100%;
    height: 100%;
    max-width: 800px;
    padding-bottom: 1rem;
    text-align: center;
}

.subtitle {
    font-size: 1rem;
    color: var(--color-light-300);
    margin-bottom: var(--size-6);
}

.themeGrid {
    gap: var(--size-5);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.themeBox {
    border: 2px solid var(--color-dark-400);
    border-radius: var(--size-3);
    padding: var(--size-3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themeBox:hover {
    border-color: var(--color-primary);
}

.themeBox.active {
    border-color: var(--color-primary);
    box-shadow: 0 0 15px rgba(215, 171, 109, 0.3);
}

.themeBox svg {
    border-radius: var(--size-2);
    margin-bottom: var(--size-3);
}

.themeName {
    font-weight: 500;
    color: var(--color-light-100);
}