.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: var(--color-dark-300);
}

.scan {
  background: linear-gradient(to right, transparent, var(--color-secondary), transparent);
  animation: scanBorder 2s linear infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-dark-500);
  }

  100% {
    background-color: var(--color-dark-400);
  }
}

@keyframes scanBorder {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}