.container {
  gap: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--component-background);
  border-radius: 4px;
}

.container label {
  width: 100%;
  display: flex;
}

.container input {
  width: 100%;
  background: transparent;
}

.container input:disabled, .disabled {
  opacity: 0.5;
  border: none;
  background-color: transparent;
}

.container input:disabled:hover {
  background-color: transparent;
}