.audioPlayerContainer {
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  background: var(--component-background);
}

.audioPlayerContainer section {
  width: 100%;
}

.leftSection {
  gap: .3rem;
  padding: 0;
  width: 100%;
  min-height: 2.5rem;
  border-radius: .2rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.documentDetails {
  width: 100%;
  max-width: 120px;
  overflow: hidden;
  font-size: small;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.documentDetails p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.documentDetails small {
  font-size: 9px;
  cursor: pointer;
}

.documentDetails small:hover {
  color: var(--color-primary);
}

.pdfControls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .documentDetails {
    display: none;
  }
}