.container {
  display: flex;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: solid .5px var(--color-dark-300);
  padding: .5rem;
}

.buttonsContainer {
  display: flex;
  border-radius: 8px;
  background: var(--component-background);
}

.tabButton {
  width: 100%;
  gap: .5rem;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 6px;
  color: var(--color-light-300);
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
}

.tabButton:hover {
  color: var(--color-primary);
}

.tabButton.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tabButton.middle {
  border-radius: 0;
}

.tabButton.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tabButton.active {
  /* Gradient on the background of the active tab */
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  color: var(--color-light-100);
  /* Solid text color for active tab */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gradient text effect on hover for non-active tabs */
.tabButton:not(.active):hover span {
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .tabButton {
    width: 100%;
    min-width: 90px;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-size: 9px;
  }
}