.tabs {
  display: flex;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: solid .5px var(--color-dark-300);
  padding: .5rem;
}

.tab {
  gap: .5rem;
  width: 150px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  border: none;
  background: var(--component-background);
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-light-300);
  transition: all 0.3s ease;
  border-radius: 6px;
  font-weight: 900;
}

.tab.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab.middle {
  border-radius: 0;
}

.tab.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab.active {
  /* Gradient on the background of the active tab */
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  color: var(--color-light-100);
  /* Solid text color for active tab */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gradient text effect on hover for non-active tabs */
.tab:not(.active):hover span {
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .tab {
    width: 100%;
    min-width: 90px;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-size: 9px;
  }
}