.base {
  max-width: 500px;
  border-radius: var(--size-4);
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: var(--size-4);
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.primary {
  padding-inline: 3rem;
  color: var(--text-color-accent);
  background: var(--color-primary);
}

.primary:hover {
  color: var(--text-color-accent);
  background: var(--color-primary-accent);
}

.transparent {
  padding: 0;
  background-color: transparent;
}