.base {
  width: 100%;
  max-width: 500px;
  border-radius: var(--size-4);
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: var(--size-4);
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.primary {
  background: transparent;
  color: var(--text-color);
}

.primary:hover {
  background: var(--background-color-dark-transparency);
}

.transparent {
  padding: 0;
  background-color: transparent;
}