.container {
  gap: .5rem;
  width: 100%;
  max-width: 500px;
  font-weight: 600;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  border-radius: var(--size-4);
  color: var(--app-white);
  background: var(--color-primary);
}

.container:hover {
  color: var(--app-white);
  background: var(--color-primary-accent);
}

.container:disabled:hover {
  background-color: var(--color-light-300);
}

.danger {
  background: transparent;
  border: solid 2px var(--color-light-200);
  color: var(--color-light-200);
}

.danger:hover {
  background: var(--color-danger);
  border-color: var(--color-danger);
  color: var(--app-white);
}