.container {
  gap: .5rem;
  width: 100%;
  max-width: 500px;
  font-weight: 600;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  border-radius: var(--size-4);
  color: var(--text-color-accent);
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
}

.container:hover {
  color: var(--text-color-accent);
  background: linear-gradient(45deg, var(--color-primary-accent), var(--color-secondary-accent));
}

.container:disabled:hover {
  background-color: var(--color-light-300);
}