.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
}

.createContainer {
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  padding-bottom: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.createContainer h1 {
  color: var(--color-primary);
  font-size: var(--size-12);
}

.tabs {
  display: flex;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  background-color: var(--color-dark-400);
  padding: 5px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-light-300);
  transition: all 0.3s ease;
  border-radius: 6px;
  font-weight: 900;
}

.tab.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab.active {
  background-color: var(--color-primary);
  color: var(--color-light-100);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  min-height: 150px;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-dark-500);
  color: var(--color-light-100);
  resize: vertical;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textarea:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px #d7ab6d3f;
}

.fileInput {
  display: none;
}

.dropzone {
  width: 100%;
  border-radius: 8px;
  color: var(--color-light-300);
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box;
}

.dropzone.dragging {
  border-color: var(--color-primary);
  background-color: transparent;
}

.fileInputLabel {
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: 2px dashed var(--color-dark-300);
  background-color: var(--color-dark-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.pdfReaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textContainer {
  width: 100%;
  min-height: 120px;
  height: 200px;
  overflow-y: auto;
  white-space: pre-wrap;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 8px;
  padding: 1rem;
  color: var(--color-light-100);
}

.textContent {
  text-align: left;
}

.navigationContainer {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navigationContainer button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-light-100);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigationContainer button:disabled {
  background-color: var(--color-dark-300);
  cursor: not-allowed;
}

.controlsContainer {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.controlsContainer button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-light-100);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controlsContainer button:disabled {
  background-color: var(--color-dark-300);
  cursor: not-allowed;
}