.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.createContainer {
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-width: 600px;
  padding-bottom: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}