.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.createContainer {
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-width: 600px;
  padding-bottom: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.form {
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.pdfLink {
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.pdfInput {
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  border: .5px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  background: var(--component-background);
}

.pdfInput:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.continueLeftSection {
  gap: 1rem;
  display: flex;
}

.resetPdf {
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: underline;
  transition-duration: .4s;
}

.resetPdf:hover {
  color: var(--color-primary);
}