.fileInput {
  display: none;
}

.dropzone {
  width: 100%;
  border-radius: 8px;
  color: var(--color-light-300);
  cursor: pointer;
  transition: border-color 0.3s ease, var(--color-primary) 0.3s ease;
  text-align: center;
  box-sizing: border-box;
}

.dropzone.dragging {
  border-color: var(--color-primary);
  background-color: transparent;
}

.fileInputLabel {
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: 2px dashed var(--color-dark-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.fileInputLabel:hover {
  transition-duration: .4s;
  border-color: var(--color-primary);
}