.container {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--background-color-faded);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.docLink {
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  border: .5px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  background: var(--component-background);
  color: inherit;
  text-decoration: none;
}

.docLink:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.docInfo {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.docInfo div {
  display: flex;
  flex-direction: column;
}

.docTitle {
  font-weight: 500;
  color: var(--text-color);
}

.docDate {
  font-size: 0.8rem;
  color: var(--text-color-secondary);
}

.deleteButton {
  background: none;
  border: none;
  color: var(--text-color-secondary);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.deleteButton:hover {
  color: var(--color-danger-100);
}
