.themeSwitcherWrapper {
    display: flex;
    align-items: center;
    gap: var(--size-3);
    padding: var(--size-2);
    border-radius: var(--size-2);
    background-color: var(--color-dark-400);
    color: var(--color-light-100)
}

.themeSwitcherText {
    font-size: 1rem;
    font-weight: 500;
}
