.container {
  gap: .5rem;
  padding: 0;
  height: 100%;
  border-radius: 10px;
  padding-inline: .3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-dark-800);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.iconContainer img {
  cursor: pointer;
}

.tabs {
  height: 100%;
  padding: 0;
  padding-top: .5rem;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
}