.outterContainer {
  width: 100%;
}

.container {
  gap: .5rem;
  padding: .5rem;
  border-radius: 10px;
  display: flex;
  background: var(--component-background-transparency);
  backdrop-filter: blur(10px);
  border: solid .5px var(--color-dark-300);
}

@media (max-width: 768px) {
  .outterContainer {
    margin: 0;
    bottom: .5rem;
    position: fixed;
    padding-inline: .5rem;
  }
}

.audioPlayerContainer {
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  background: var(--component-background);
}

.audioPlayerContainer section {
  width: 100%;
}

.leftSection {
  gap: .3rem;
  padding: 0;
  width: 100%;
  min-height: 2.5rem;
  border-radius: .2rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.documentDetails {
  width: 100%;
  max-width: 180px;
  overflow: hidden;
  font-size: small;
}

.documentDetails p {
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
}

.documentDetails:hover p {
  animation: marqueeScroll 6s linear infinite;
  text-decoration: underline;
}

.documentDetails small {
  font-size: 9px;
  cursor: pointer;
}

.documentDetails small:hover {
  color: var(--color-primary);
}

@keyframes marqueeScroll {
  0%,  20% { transform: translateX(0); }
  80%, 100% { transform: translateX(calc(-100% + 180px)); }
}

.pdfControls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .documentDetails {
    display: none;
  }
}