.container {
  gap: .5rem;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    border: none;
  }
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.iconContainer img {
  cursor: pointer;
}

.tabs {
  height: 100%;
  padding: 0;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
}

.menuButton {
  margin-top: auto;
}

@media (max-width: 1024px) {
  .iconContainer {
    width: auto;
  }

  .tabs {
    width: 100%;
    padding: 0;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }
}