.container {
  gap: .5rem;
  padding: 0;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--component-background);
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.iconContainer img {
  cursor: pointer;
}

.tabs {
  height: 100%;
  padding: 0;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .iconContainer {
    width: auto;
  }

  .tabs {
    width: 100%;
    padding: 0;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }
}