.pageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: .5rem;
}

.pageItem {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--background-secondary);
  border: 1px solid var(--color-dark-300);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.pageItem:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: var(--color-primary);
}

.pageNumber {
  font-weight: bold;
  font-size: 1rem;
}
