.pdfReaderContainer {
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  border: solid 1px var(--color-dark-300);
}

.textContainer {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  color: var(--color-light-100);
  background-color: var(--component-background);
  border-radius: 10px;
  padding: 1rem;
  overflow-y: auto;
  border: 1px solid transparent;
}

.editing {
  border: 1px solid var(--color-dark-300);
}

.textContainer:focus {
  outline: none;
  border-color: var(--color-primary);
}

.textContent {
  text-align: left;
}

.pageInfoContainer {
  gap: 1rem;
  padding: .5rem;
  padding-inline: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.navigationContainer {
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationContainer button {
  border-radius: 6px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  color: var(--color-light-100);
  transition: background-color 0.3s ease;
  background-color: var(--color-primary);
}

.navigationContainer button:disabled {
  background-color: var(--color-dark-300);
  cursor: not-allowed;
}

.headerControls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.controlsContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sentence {
  cursor: pointer;
  transition: .1s;
}

.sentence:hover {
  background-color: var(--color-sentence-hover);
  color: var(--color-dark-900);
}

.highlight {
  cursor: pointer;
  transition: .1s;
  background-color: var(--color-primary);
  color: var(--color-dark-900);
  border-radius: 3px;
}