.container {
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.014);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.closeButton {
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: .5rem;
    margin: .5rem;
    border-radius: 50%;
    position: absolute;
    background: var(--component-background);
    color: var(--text-color);
}

.modalContent {
    gap: 1.5rem;
    width: 90%;
    padding: 1rem;
    background: var(--component-background);
    border-radius: 12px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    outline: solid .5px var(--color-dark-300);
    outline-offset: .5rem;
    position: relative;
}

.modalContent h3 {
    font-size: 1.5rem;
    padding-inline: 1rem;
    color: var(--text-color);
}