.container {
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.014);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.closeButton {
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: .5rem;
    margin: .5rem;
    border-radius: 50%;
    position: absolute;
    background: var(--component-background);
    color: var(--text-color);
}

.modalContent {
    gap: 1.5rem;
    width: 90%;
    padding: 1rem;
    background: var(--component-background);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    outline: solid .5px var(--color-dark-300);
    outline-offset: .5rem;
    position: relative;
}

.modalContent h2 {
    color: var(--text-color);
    text-align: center;
}

.tabContainer {
    display: flex;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: solid .5px var(--color-dark-300);
    padding: .5rem;
}

.tabButton {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: var(--component-background);
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-light-300);
    transition: all 0.3s ease;
    border-radius: 6px;
    font-weight: 900;
}

.tabButton:hover {
    color: var(--color-primary);
}

.tabButton.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tabButton.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tabButton.activeTab {
    /* Gradient on the background of the active tab */
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    color: var(--color-light-100);
    /* Solid text color for active tab */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gradient text effect on hover for non-active tabs */
.tabButton:not(.activeTab):hover span {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.voiceList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-height: 50vh;
    overflow-y: auto;
}

.voiceOption {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-options-background);
    color: var(--text-color);
    border: 1px solid transparent;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.voiceOption:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--text-color-accent);
}

.voiceOption span {
    flex-grow: 1;
    text-align: left;
}

.activeVoice {
    background: var(--color-primary);
    color: var(--text-color-accent);
    font-weight: bold;
    border-color: var(--color-primary);
}