.container {
  gap: .5rem;
  min-height: 50vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.voiceList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 50vh;
  overflow-y: auto;
}

.voiceAllOption {
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  background-color: var(--color-options-background);
  color: var(--text-color);
  border: 1px solid transparent;
  padding: .5rem;
  padding-inline: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.voiceAllOption input {
  width: 25px;
  cursor: pointer;
}

.voiceOption {
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  background-color: var(--color-options-background);
  color: var(--text-color);
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.voiceOption input {
  width: 50px;
  cursor: pointer;
}