.tabContainer {
    display: flex;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: solid .5px var(--color-dark-300);
    padding: .5rem;
}

.tabButton {
    width: 100%;
    gap: .5rem;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 6px;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: var(--color-light-300);
    background: var(--component-background);
}

.tabButton:hover {
    color: var(--color-primary);
}

.tabButton.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tabButton.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tabButton.activeTab {
    /* Gradient on the background of the active tab */
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    color: var(--color-light-100);
    /* Solid text color for active tab */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.descriptionContainer {
    padding: 0 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 0.875rem;
    color: var(--color-light-300);
    text-align: center;
}

.description a {
    color: var(--color-primary);
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

/* Gradient text effect on hover for non-active tabs */
.tabButton:not(.activeTab):hover span {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.voiceList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-height: 50vh;
    overflow-y: auto;
}

.voiceOption {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-options-background);
    color: var(--text-color);
    border: 1px solid transparent;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.voiceOption:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--text-color-accent);
}

.voiceOption span {
    flex-grow: 1;
    text-align: left;
}

.activeVoice {
    background: var(--color-primary);
    color: var(--text-color-accent);
    font-weight: bold;
    border-color: var(--color-primary);
}

@media (max-width: 768px) {
    .tabButton {
        width: 100%;
        min-width: 90px;
        align-items: center;
        flex-direction: column;
    }

    .title {
        font-size: 9px;
    }
}