.container {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-300);
  transition: all 0.2s ease-in-out;
}

.container:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.container span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 1rem;
}