.container {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: .5px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  background: var(--component-background);
}

.container:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.container span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 1rem;
}

.voicesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  max-height: 100px;
  overflow-y: auto;
}

.voicesContainer h3 {
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.voicesContainer div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.voicesContainer input[type="checkbox"] {
  accent-color: var(--primary-color);
}

.voicesContainer label {
  color: var(--text-color);
}