.container {
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  border-radius: 1rem;
  border: .5px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  background: var(--component-background);
}

.container:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.container span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 1rem;
}