.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;  gap: 1.5rem;
}

.list {
  gap: 1rem;
  width: 100%;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: column;
}

.emptyItem {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--color-dark-300);
  transition: all 0.2s ease-in-out;
}

.emptyItem:hover {
  cursor: pointer;
  background-color: var(--color-dark-500);
  border-color: var(--color-primary);
}