.container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.slider::-webkit-scrollbar {
  height: 4px;
}

.slider::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-dark-300);
}
